.container img{
    height:600px;
    width:400px;
    opacity: 0.8;
}
.container p{
    text-align:left;
    font-size: 20px;
    position:relative;
    width:auto;
    top:100px;
}
/* Your CSS Code here. */

